<link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
<h6 class="ml-3 mt-2 prd">
  SOFTWARE RELEASE MATRIX
</h6>
<div class="SRM-container">
  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6 text-right ">
      <a routerLink="/softwarereleasematrix" [ngStyle]="{color:curclr}" (click)="OnClickCurr()"><strong> Current
          Release</strong>
      </a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="/softwarereleasematrix" [ngStyle]="{color:hisclr}" (click)="OnClickHist()"><strong>
          History</strong></a>
    </div>
  </div>
  <!-- <a routerLink="/user/bob" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
    true}">Bob</a> -->
  <br>
  <!-- <hr> -->

  <div *ngIf="hist==false ; else template1">
    <div class="row colmod">
      <ng-multiselect-dropdown class="custom" [placeholder]="'select columns to display'" [data]="cols"
        [(ngModel)]="selectedColumns" [settings]="dropdownSettings">
      </ng-multiselect-dropdown>
      <button class="btn btn-primary okbtn" (click)="selectcolumns()">Ok</button>
    </div>
    <ng2-smart-table [settings]="settings" [(source)]="data" ></ng2-smart-table>
    <!-- <button class="btn btn-primary" (click)="export()">Export</button> -->
    <angular2csv [data]="datacsv" filename="test.csv" [options]="options"></angular2csv>
  </div>

  <ng-template #template1>
    <div class="row col-lg-12">
      <div class="row">
        <h6 class="prd">select period: </h6> &nbsp;&nbsp;
        <div class=" datepick">
          <ejs-datepicker id='datepicker' width='110px'  placeholder='   From' [(value)]='value1'
            (change)='onChange1($event)' [min]='minDate' [max]='maxDate' strictMode='true' [(ngModel)]="fromDate">
          </ejs-datepicker>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class=" datepick">
          <ejs-datepicker id='datepicker' width='110px' placeholder='   To' [(value)]='value2'
            (change)='onChange2($event)' [min]='minDate' [max]='maxDate' strictMode='true' [(ngModel)]="toDate">
          </ejs-datepicker>
        </div>
        &nbsp;
        <button class="btn btn-primary viewbtn" (click)="viewclk()">View</button>
      </div>
      <div class="row colmod1">
        <ng-multiselect-dropdown class='custom' [placeholder]="'select columns to display'" [data]="cols"
          [(ngModel)]="selectedColumns" [settings]="dropdownSettings">
        </ng-multiselect-dropdown>
        <button class="btn btn-primary okbtn" (click)="selectcolumns()">Ok</button>
      </div>
    </div>
    <div>
      <ng2-smart-table [(settings)]="settings" [source]="data1"></ng2-smart-table>
  </div>
  </ng-template>
</div>