<div class="forgotpassword-container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <mdb-card cascade="true" narrower="true">
        <div class="site-bg-color text-center card-heading rounded" style="margin-top:-30px" mdbWavesEffect>
          <h6>Reset your password</h6>
        </div>
        <mdb-card-body cascade="true">
          <form [formGroup]="resetpasswordForm" (ngSubmit)="onSubmit()">

            <div class="md-form">
                <div><Strong>Email-Id</Strong>: <span>demo@gm.com</span></div>
            </div>


            <div class="md-form m-0">
              <input type="password" formControlName="currentpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.currentpassword.errors }"
                placeholder="Enter your current password" />
              <div *ngIf="submitted && f.currentpassword.errors" class="invalid-feedback">
                <div *ngIf="f.currentpassword.errors.required">Enter your current password</div>
              </div>
            </div>

            <div class="md-form m-0">
              <input type="password" formControlName="newpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.currentpassword.errors }"
                placeholder="Enter your new password" />
              <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                <div *ngIf="f.newpassword.errors.required">Enter your new password</div>
              </div>
            </div>

            <div class="md-form m-0">
              <input type="password" formControlName="confirmpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.currentpassword.errors }"
                placeholder="Confirm your new password" />
              <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmpassword.errors.required">Confirm your new password</div>
              </div>
            </div>

            <button class="btn btn-outline-primary btn-rounded btn-sm btn-block mt-4 mb-5 waves-effect z-depth-0" style="font-size: 14px;"
              type="submit">
              Reset Password
            </button>
          </form>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>