<h6 class="ml-3 mt-2">
  DASHBOARD
</h6>
<div class="dashboard-container">
  <div class="row">
    <div class="col-sm-4">
      <mdb-card cascade="true" narrower="true">
        <div class="site-bg-color text-center card-heading rounded" mdbWavesEffect>
            <h6><a routerLink="/usermanagement" class="text-white"><i class="fas fa-users"></i> User Management</a></h6>
        </div>
        <mdb-card-body cascade="true">
          <div class="row">
            <div class="col-sm-12">
              <b>Total Users</b>
              <a class="btn btn-dark btn-sm pull-right" mdbWavesEffect>1221</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <b class="text-success">Active Users</b>
              <a class="btn btn-success btn-sm pull-right" mdbWavesEffect>221</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <b class="text-danger">Inactive Users</b>
              <a class="btn btn-danger btn-sm pull-right" mdbWavesEffect>765</a>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-sm-4">
      <mdb-card cascade="true" narrower="true">
        <div class="site-bg-color text-center card-heading rounded" mdbWavesEffect>
          <h6><i class="fas fa-th-list"></i> Software Release Matrix</h6>
        </div>
        <mdb-card-body cascade="true">
          <div class="row">
            <div class="col-sm-12">
              <b>KIBA</b>
              <p>Last Upgraded:01-01-2018, 12:12:12</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <b>Totsuka Lab</b>
              <p>Last Upgraded:01-01-2018, 12:12:12</p>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-sm-4">
      <mdb-card cascade="true" narrower="true">
        <div class="site-bg-color text-center card-heading rounded" mdbWavesEffect>
          <h6><i class="fas fa-medkit"></i> Health Check</h6>
        </div>
        <mdb-card-body cascade="true">
          <div class="row">
            <div class="col-sm-12">
              <b>KIBA</b>
              <p>Last Updated:01-01-2018, 12:12:12</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <b>Totsuka Lab</b>
              <p>Last Updated:01-01-2018, 12:12:12</p>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>