.dashboard-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    width: 1236px;
    height: 100%;
}

.card-heading{
    padding: 16px 0 6px 0;
    margin: -25px 16px 0 16px;
}
