
.jumbotron {
    margin: 0px;
    padding: 0px;
    min-height:100%;
    position:relative;
    
}

.main-container {
    padding: 0px 0px 0px 0px;
    padding-bottom:35px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
