<button type="button" class="btn btn-primary btn-sm" mdbBtn rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>
  <i class="fa fa-upload" aria-hidden="true"></i>
  Import Template
</button>

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <div class="modal-content">
      <div class="modal-c-tabs">
        <mdb-tabset #staticTabs [buttonClass]="'nav md-tabs tabs-2 light-blue darken-3'" [contentClass]="''" class="tab-content">
          <div class="site-bg-color text-center card-heading rounded" mdbWavesEffect>
            <h6>
              <i class="fa fa-upload" aria-hidden="true"></i>
              Import Template
            </h6>
          </div>
          <div class="modal-body py-0 px-3">
            <div class="md-form form-sm">
              
              <input mdbInputDirective type="file" (change)="incomingfile($event)" id="importTemplate" name="importTemplate" ng2FileSelect [uploader]="uploader" />
            </div>
            <div class="text-center my-3">
              <button class="btn btn-primary btn-sm waves-light" mdbWavesEffect (click)="uploader.uploadAll()"
                [disabled]="!uploader.getNotUploadedItems().length" data-dismiss="frameModalTop">
                <i class="fa fa-upload" aria-hidden="true"></i>
                Upload Template
              </button>
            </div>
          </div>
          <div class="modal-footer display-footer px-2 my-0">
            <button type="button" mdbBtn color="info" outline="true" class="btn btn-primary btn-sm waves-light"
              data-dismiss="frameModalTop" (click)="frame.hide()" mdbWavesEffect>Close</button>
          </div>
        </mdb-tabset>
      </div>
    </div>
  </div>
</div>