<div class="forgotpassword-container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <mdb-card cascade="true" narrower="true">
        <div class="site-bg-color text-center card-heading rounded" style="margin-top:-30px" mdbWavesEffect>
          <h6>Forgot your password?</h6>
        </div>
        <mdb-card-body cascade="true">
          <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
            <div class="md-form m-0">
              <input type="text" formControlName="emailid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }"
                placeholder="Enter your e-mail address" />
              <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
                <div *ngIf="f.emailid.errors.required">E-mail address is required</div>
              </div>
            </div>
            <button class="btn btn-outline-primary btn-rounded btn-sm btn-block mt-4 mb-5 waves-effect z-depth-0" style="font-size: 14px;"
              type="submit">
              Send Password
            </button>
          </form>
          <div class="d-flex justify-content-around">
              <div style="float:right">Do you have password? 
                <a class="" routerLink="/login">Login</a>
              </div>
            </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>