<nav class="navbar navbar-expand-sm site-bg-color navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" routerLink="/dashboard">
    <!-- <img src="../../assets/images/logo1.png" alt="logo" style="height:40px;"> -->
    <h4 style="display: inline; margin-right: 100px;">VNF Exchange</h4>
    <b class="ml-2">Lab Management Portal</b>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto" *ngIf="this.WorkflowService.isUserLogin == true">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript: void(0)" (click)="logout()" title="User Logout">
          Logout
        </a>
      </li>
      <li class="nav-item">
        <img class="user-image" src="../../assets/images/user-image.png">
      </li>
    </ul>
  </div>
</nav>