<nav class="navbar navbar-expand-sm site-bg-color navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" routerLink="/dashboard">
    <img src="../../assets/images/logo1.png" alt="logo" style="height:40px;">
    <b class="ml-2">Lab Management Portal</b>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto" *ngIf="this.WorkflowService.isUserLogin == true">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">About</a>
      </li>
      <li>
        <!-- <strong class="login-message">Welcome: {{this.WorkflowService.loginUserName}}</strong> |  -->
        <a href="javascript: void(0)" class="logout" (click)="logout()" title="User Logout">
          <strong>Logout</strong>
        </a>
        <img class="user-image" src="../../assets/images/user-image.png">
      </li>
    </ul>
  </div>
</nav>