<nav class="navbar navbar-expand-sm site-bg-color navbar-dark">
  <!-- Brand/logo -->
  <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    aria-controls="menu">&#9776;</button>
  <a class="navbar-brand" routerLink="/dashboard">
    <!-- <img src="../../assets/images/logo1.png" alt="logo" style="height:40px;"> -->
    <b class="ml-2">Lab Management Portal</b>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto" *ngIf="this.WorkflowService.isUserLogin == true">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard"><strong>Home</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard"><strong>About</strong></a>
      </li>
      <li class="nav-item lgpad">
        <!-- <strong class="login-message">Welcome: {{this.WorkflowService.loginUserName}}</strong> |  -->
        <a href="javascript: void(0)" class="logout" (click)="logout()" title="User Logout">
          <strong>Logout</strong>
        </a>
        <img class="user-image" src="../../assets/images/user-image.png">
      </li>
    </ul>
  </div>
</nav>
<div id="menu" [ngbCollapse]="isCollapsed" class="menu1">
  <ul><br>
    <li><i class="fas fa-users"></i>&nbsp;<a routerLink="/usermanagement" routerLinkActive="is-active" (click)="isCollapsed = !isCollapsed">User
        Management</a></li><br>
    <li><i class="fas fa-th-list"></i>&nbsp;<a routerLink="/softwarereleasematrix" routerLinkActive="is-active" (click)="isCollapsed = !isCollapsed">Software
        Release Matrix</a></li><br>
    <li><i class="fas fa-medkit"></i>&nbsp;<a href="#" routerLinkActive="is-active" (click)="isCollapsed = !isCollapsed">Health Check</a></li><br>
    <li><i class="fa fa-file" aria-hidden="true"></i>&nbsp; <a href="#" routerLinkActive="is-active" (click)="isCollapsed = !isCollapsed">Resource
        Reservations</a></li><br>
    <li><i class="fas fa-users"></i>&nbsp;<a href="#" routerLinkActive="is-active" (click)="isCollapsed = !isCollapsed">Resource Management</a></li>
  </ul>
</div>