@font-face {
    font-family: rakuten-font;
    src: url(../assets/fonts/rc-icon.woff);
}
    
    
body {
    font-family: 'rakuten-font','Helvetica Neue', HelveticaNeue, Helvetica, Arial, 'Arial Unicode MS', sans-serif;
    font-size: 14px;
}
   
.site-bg-color{
    background-color: #1e88e5 !important;
    color: #FFF !important;
}
@import "~@ng-select/ng-select/themes/material.theme.css";
// @import "~@ng-select/ng-select/themes/default.theme.css";