@font-face {
    font-family: rakuten-font;
    src: url(../assets/fonts/rc-icon.woff);
}
    
@import "../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    font-family: 'rakuten-font','Helvetica Neue', HelveticaNeue, Helvetica, Arial, 'Arial Unicode MS', sans-serif;
    font-size: 14px;
}
   
.site-bg-color{
    background-color: #1e88e5 !important;
    color: #FFF !important;
}
